<!DOCTYPE html>
<html>
  <head>
    {%- block head %}
    <title>{% block title %}Secret Service Chat{% endblock %}</title>
    <link href='/static/images/favicon.ico' rel='icon' type='image/x-icon'>
    {% endblock -%}
  </head>
  <body>
    <div id='container'>
      <div id='header'>
        {%- block header %}
        <h1>
          <a href="{{ url_for("index") }}">
            {% block headertitle %}Secret Service Chat{% endblock %}
          </a>
        </h1>
        {% endblock -%}
        <ul id="navigation">
          {%- block navigation %}
          {% endblock -%}
        </ul>
      </div>
        {% block flashy %}
          {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
              <ul class=flashes>
                {% for category, message in messages %}
                  <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        {% endblock %}
        {%- block container %}
        <div id='content'>
          {%- block content %}{% endblock -%}
        </div>
        {% endblock -%}
      <div id='footer'>
          {%- block footer %}{% endblock -%}
      </div>
    </div>
  </body>
</html>
